<header id="header" class="header">
  <div class="container header_container">
    <a href="./index.html" class="header_logo" aria-label="Logo">
      <svg class="header_svg" width="24" height="24">
        <use href="./img/header icon/symbol-defs.svg#icon-logook"></use>
      </svg>
      <svg class="header_svg" width="77" height="14">
        <use href="./img/header icon/symbol-defs.svg#icon-Bookshelf"></use>
      </svg>
      <span>Logo</span>
    </a>
    <nav class="navigation">
      <ul class="navigation_list">
        <li class="navigation_item">
          <a
            class="navigation_link_home"
            href="./index.html"
            aria-label="Link to home page"
            id="homeLink"
            >Home</a
          >
        </li>
        <li class="navigation_item">
          <a
            class="navigation_link_shopping"
            href="./shopping-list.html"
            aria-label="Link to Shopping list"
            id="shoppingListLink"
            >Shopping list
            <svg class="basket" width="20" height="20">
              <use
                href="./img/header icon/symbol-defs.svg#icon-basket"
              ></use></svg
          ></a>
        </li>
      </ul>
    </nav>
    <div class="header_right">
      <div class="header_togglers">
        <label for="toggler" class="switch">
          <input
            id="toggler"
            type="checkbox"
            class="switch_input"
            aria-label="Toggle menu"
          />
          <span class="switch_slider"></span>
        </label>
        <button 
          type="button"
          class="burger"
          data-action="open-modal"
          aria-label="Toggle color theme"
          style=""
        >
          <svg class="burger_button" width="28" height="28">
            <use href="./img/symbol-defs.svg#icon-burger"></use>
          </svg>
        </button>
         <button class="burger_close" type="button" data-action="close-modal"
      aria-label="Close modal" style=""/>
        <svg class="header_icon_close" width="21" height="21">
          <use href="../img/symbol-defs.svg#icon-closed"></use>
        </svg>
      </button>
      </div>
    </div>
  </div>
   <div class=" backdrop">
    <div class="header_navigation_window">
      <nav class="modal__nav">
       <ul class="nav__List-menu">
        <li class="home__item">
          <a
            class="nav__link--current"
            href="./index.html"
            aria-label="Link to home page"
            >Home</a
          >
        </li>
        <li class="shop__item">
          <a
            class="nav__shopping"
            href="./shopping-list.html"
            aria-label="Link to Shopping list"
            >Shopping list
            <svg class="nav__basket" width="20" height="20">
              <use
                href="./img/header icon/symbol-defs.svg#icon-basket"
              ></use></svg
          ></a>
        </li>
      </ul>
      </nav>
    </div>
  </div>
</header>
