<div class="for__support">
  <div class="supporters">
    <div class="supporters__title">
      <h3 class="supporters__heading">Support Ukraine</h3>
      <svg class="supporters__icon">
        <use href="../img/symbol-defs.svg#icon-Ukraine"></use>
      </svg>
    </div>
    <div class="swiper-container mySwiper">
      <ul class="supporters_list swiper"></ul>
      <div class="swiper-pagination"></div>
    </div>
    <button class="supporters__btn">
      <span>Scroll down</span>
      <!-- <svg class="supporters__btn-icon"> 
        <use href=""></use>
      </svg>-->
    </button>
  </div>
</div>
<script src="../js/support.js"></script>
