<div class="for__support">
  <div class="supporters">
    <div class="supporters__title">
      <h3 class="supporters__heading">Support Ukraine</h3>
      <svg class="supporters__icon">
        <use href="../img/symbol-defs.svg#icon-Ukraine"></use>
      </svg>
    </div>
    <div class="swiper">
      <ul class="supporters_list swiper-wrapper"></ul>
    </div>
    <button class="supporters__btn">
      <span>Scroll down</span>
      <svg class="supporters__btn-icon" width="20" height="20">
        <use href="../img/symbol-defs.svg#my-ikon"></use>
      </svg>
    </button>

    <!-- <script src="./js/support.js" type="module"></script> -->
  </div>
</div>
