.top-categories-list {
}

.categories-title {
  /* font-weight: 700;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.04em; */
  color: black;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}

.categories-title span {
  color: rgb(144, 75, 144);
}

.category-item {
}

.container-books {
  max-width: 335px;
  /* max-width: 996px; */
  /* width: 996px; */
  /* height: 426px; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-items: center;
  justify-content: center; */
}

.book-categoty-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
}

.list-books {
  max-width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

.book-button {
  border: 2px solid rgb(144, 75, 144);
  border-radius: 40px;
  padding: 14px auto;
  width: 124px;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: black;
  margin-bottom: 40px;
  margin-top: 8px;
  margin-left: auto;
  transition: all 0.2s ease;
}

.book-button:hover {
  background-color: blue;
  color: aliceblue;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
}

.books-item-about {
  max-width: 100%;
  /* width: 180px; */
  /* height: 306px; */
}

.book-wrap {
  max-width: 100%;
  /* width: 180px; */
  /* height: 256px; */
}

.book-img {
  border-radius: 8px;
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.book-overlay {
}

.book-text {
}

.book-info {
  margin-top: 14px;
}

.info-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  color: black;
  text-transform: uppercase;
}

.info-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

@media screen and (min-width: 768px) {
  .top-categories-list {
  }

  .books-item-about {
    /* max-width: 218px; */
  }

  .container-books {
    /* flex-direction: row; */
    max-width: 704px;
  }

  .book-wrap {
    /* max-width: 218px; */
  }

  .list-books {
    max-width: 100%;
    /* flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-title {
    /* margin-top: 50px; */
  }

  .list-books {
    /* width: 996px;
    height: 306px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px; */
    width: 996px;
    height: 306px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px;
  }

  .book-button {
    /* float: right; */
    border: 2px solid rgb(144, 75, 144);
    border-radius: 40px;
    padding: 14px auto;
    width: 124px;
    height: 46px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: black;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: auto;
    transition: all 0.2s ease;
  }
}
