.display-book:not(:first-child) {
  display: none;
}
.categories-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.04em;
  color: black;
  margin-bottom: 40px;
}
html.dark-mode .categories-title {
  color: #fff;
}
.categories-title span {
  color: #4f2ee8;
}
.container-books {
  margin-bottom: 40px;
}
.book-categoty-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
}
.list-books {
  max-width: 335px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.book-button {
  float: right;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  width: 124px;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;
  background-color: #fff;
  transition: all 0.2s ease;
}

.book-button:hover {
  background-color: #4f2ee8;
  color: #fff;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
}
.book-button:focus {
  background-color: #4f2ee8;
  color: #fff;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
}
html.dark-mode .book-button {
  color: #fff;
  background-color: #202024;
}
html.dark-mode .book-button:hover {
  color: #fff;
   background-color: #4f2ee8;
}
html.dark-mode .book-button:focus {
  color: #fff;
   background-color: #4f2ee8;
}
.book-wrap {
  margin-top: 18px;
  position: relative;
  overflow: hidden;
}
.book-img {
  border-radius: 8px;
  width: 335px;
  height: 485px;
  object-fit:cover;
  cursor: pointer;
}
.book_cover {
  font-weight: 600;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
  width: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  background: #eac645;
  color: #111;
}
.books-item-about:hover .book_cover {
  transform: translateY(0);
}
.book-info {
  margin-top: 14px;
}
.info-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  color: #111;
  text-transform: uppercase;
}
html.dark-mode .info-title {
  color: #fff;
}
.info-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}
.scroll-up-js {
  opacity: 1;
  width: 54px;
  height: 54px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #4f2ee8;
  transition: all 0.7s ease;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: transparent;
}
.scroll-up {
  stroke: #4f2ee8;
  margin: 0 auto;
}
.scroll-up:hover {
  stroke: white;
}
.scroll-up-js:hover {
  background-color: #4f2ee8;
  transform: scale(1.2);
}
.scroll-up-js:hover .scroll-up {
  stroke: white;
}
.js-scroll-up-hidden {
  pointer-events: none;
  opacity: 0;
}
.scroll-up-blue {
  width: 24px;
  height: 24px;
  margin: auto;
}
.scroll-up-js.show {
  display: block;
  opacity: 1;
}
.modal-woman {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-woman {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px; /* Додайте максимальну ширину, якщо потрібно */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container-books {
    width: 704px;
  }
  .display-book:nth-child(1),
  .display-book:nth-child(2),
  .display-book:nth-child(3) {
    display: block;
  }
  .list-books {
    max-width: 704px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
  .book-img {
    width: 218px;
    height: 316px;

  }
}

@media screen and (min-width: 1440px) {
  .container-books {
    width: 996px;
  }
  .display-book:nth-child(1),
  .display-book:nth-child(2),
  .display-book:nth-child(3),
  .display-book:nth-child(4),
  .display-book:nth-child(5) {
    display: block;
  }
  .list-books {
    max-width: 996px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px;
  }
  .book-img {
    width: 180px;
    height: 256px;
 
}
}
