ul.categories-list_books {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
  height: 228px;
  overflow-y: scroll;
  padding-right: 20px;
}

a.link_category-book {
  font: 400 18px / 1.33333 'DM Sans', sans-serif;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
}
html.dark-mode a.link_category-book {
  color: rgba(255, 255, 255, 0.6);
}
a.link_category-book:hover,
a.link_category-book:focus {
  color: #4f2ee8;
}
html.dark-mode a.link_category-book:hover,
html.dark-mode a.link_category-book:focus {
  color: #eac645;
}

.categories-list_books::-webkit-scrollbar {
  max-width: 8px;
  height: 167px;
}
.categories-list_books::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 12px;
}
html.dark-mode .categories-list_books::-webkit-scrollbar-thumb {
  background: #111;
}

a.active-category {
  font-weight: bold;
  text-transform: uppercase;
  color: #4f2ee8;
}
html.dark-mode a.active-category {
  color: #eac645;
}

@media screen and (min-width: 375px) {
  .categories-block {
    display: flex;
    margin-top: 40px;
  }
  ul.categories-list_books {
    gap: 24px;
    width: 376px;
    height: 228px;
  }
  a.link_category-book {
    font: 400 16px / 1.125 'DM Sans', sans-serif;
    letter-spacing: -0.02em;
    /* color: rgba(17, 17, 17, 0.6); */
  }
}

@media screen and (min-width: 768px) {
  .categories-block {
    display: flex;
    margin-top: 40px;
  }
  ul.categories-list_books {
    gap: 32px;
    width: 356px;
    height: 472px;
  }
}
