svg {
  margin: 0;
  padding: 0;
  display: block;
}
body {
  position: relative;
  transition: all 0.3s ease 0s;
  html.dark-mode & {
    border: 1.5px solid #fff;
    color: #9a9a9a;
    background-color: #202024;
  }
}
//=============================================================

//  Для зміни любого стилю при темній темі додайте:   html.dark-mode & {}  Приямо в класі де потрібні зміни і пропешіть в лапках шо змінюємо

//=============================================================
.header {
  z-index: 999;
  width: 100%;
  background-color: #fff;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 40px;
  html.dark-mode & {
    background-color: #111;
    border: 1.5px solid #fff;
  }
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
}

.header_logo {
  gap: 8px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
}
.header_svg {
  fill: #000;
  html.dark-mode & {
    fill: #fff;
  }
}

.header_logo span {
  visibility: hidden;
  width: 0;
  height: 0;
}
.navigation {
  display: none;
}

.navigation_list {
}
.navigation_item {
}
.navigation_link_home {
}
.current_page {

}
.navigation_link_shopping {
}
.current_page_shop {
} 

.header_right {
  justify-content: center;
  align-items: center;
  display: flex;
}
.header_togglers {
  align-items: center;
  gap: 14px;
  margin-left: auto;
  display: flex;
}
.switch {
  width: 40px;
  height: 20px;
  display: flex;
  position: relative;
}

.switch_input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch_slider {
  cursor: pointer;
  background: linear-gradient(#4f2ee8 0%, #dcdcdc 100%);
  border-radius: 34px;
  transition: all 0.4s;
  position: absolute;
  inset: 0;
  box-shadow: inset 1px 1px 2px #0000001a;
}

.switch_slider:before {
  content: '';
  cursor: pointer;
  height: 18px;
  width: 18px;
  background: linear-gradient(#fff 0%, #f7f7f7 100%);
  border-radius: 50%;
  transition: all 0.4s;
  position: absolute;
  bottom: 1px;
  left: 1px;
  box-shadow: 1px 1px 2px #0000001a, 0 2px 2px #0000001a, 1px 2px 4px #0000001a;
}
.switch_input:checked + .switch_slider {
  background: linear-gradient(#4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px #0000001a;
}
.switch_input:checked + .switch_slider:before {
  transform: translate(20px);
}
.burger {
  background-color: var(--main-text-cl-dark-theme);
  height: 28px;
  width: 28px;
  stroke: #111;
  border: none;
  padding: 0;
  display: flex;
  html.dark-mode & {
    stroke: #fff;
  }
}
@media screen and (min-width: 768px) {
  .header_container {
    width: 768px;
    justify-content: normal;
  }
  .navigation {
    margin-left: 40px;
    display: flex;
  }

  .navigation_list {
    align-items: center;
    gap: 16px;
    display: flex;
  }

  .navigation_link_home {
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111;
    padding-top: 26px;
    padding-bottom: 26px;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    display: flex;
    html.dark-mode & {
      color: #fff;
    }
  }
  .navigation_link_home:hover {
    width: 72px;
    height: 34px;
    background: #eac645;
    border-radius: 36px;
    padding: 8px 16px;
    font-weight: 700;
    border: none;
    html.dark-mode & {
      color: #111;
    }
  }
  .navigation_link_home:focus {
    width: 72px;
    height: 34px;
    background: #eac645;
    border-radius: 36px;
    padding: 8px 16px;
    font-weight: 700;
    border: none;
    html.dark-mode & {
      color: #111;
    }
  }
  .navigation_link_shopping {
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111;
    align-items: center;
    gap: 7px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    display: flex;
    html.dark-mode & {
      color: #fff;
    }
  }
  .navigation_link_shopping:hover {
    background: #eac645;
    border-radius: 36px;
    padding: 7px 16px;
    width: 156px;
    height: 34px;
    font-weight: 700;
    border: none;
    html.dark-mode & {
      color: #111;
    }
  }
  .navigation_link_shopping:focus {
    background: #eac645;
    border-radius: 36px;
    padding: 7px 16px;
    width: 156px;
    height: 34px;
    font-weight: 700;
    border: none;
    html.dark-mode & {
      color: #111;
    }
  }
  .basket {
    html.dark-mode & {
      fill: #fff;
      html.dark-mode & {
        fill: #111;
      }
    }
  }

  .header_right {
    margin-left: auto;
  }
  .burger {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header_container {
    width: 100%;
  }
  .navigation {
    margin-left: 75px;
    gap: 24px;
  }
}
