.main-container {
  /* margin-top: 110px; */
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-container {
}

.category-wrap {
}

.support-wrap {
}

@media screen and (min-width: 768px) {
  .left-container {
    flex-direction: row;
    max-width: 704px;
  }

  .support-wrap {
  }
}

@media screen and (min-width: 1440px) {
  .left-container {
    flex-direction: column;
    max-width: 704px;
  }

  .main-container {
    flex-direction: row;
  }

  .right-container {
  }
}
