.main-container {
  /* display: flex;
  gap: 50px; */
}

.left-container {
<<<<<<< Updated upstream
  margin-bottom: 40px;
  margin-top: 104px;
=======
  display: flex;
  flex-direction: column;
>>>>>>> Stashed changes
}

.right-container {
  margin-left: 400px;
  margin-top: 100px;
}
