.main-container {
  margin-top: 110px;
  display: flex;
  gap: 50px;
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.right-container {
}

.category-wrap {
}

.support-wrap {
}
