.modal {
  padding: 40px;
  border: 2px solid #111;
  border-radius: 18px;
  width: 335px;
  height: 762px;
  background-color: #fff;
}
html.dark-mode .modal {
  background-color: #202024;
  border-color: white;
}
.modal-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: transparent;
  border: none;
}

.modal-icon-closed {
  stroke: #111;
  font-size: 20px;
  transition: all 0.2s ease;
}
html.dark-mode .modal-icon-closed {
  stroke: #fff;
}
.modal-icon-closed:hover {
  stroke: #4f2ee8;
}
html.dark-mode .modal-icon-closed:hover {
  stroke: #4f2ee8;
}
.modal-content {
  display: flex;
  flex-direction: column;
}
.modal-img {
  margin-bottom: 14px;
  border-radius: 8px;
  width: 287px;
  height: 408px;
}
.modal-title {
  margin-bottom: 4px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: #111;
}
html.dark-mode .modal-title {
  color: #fff;
}
.modal-author {
  margin-bottom: 18px;
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
}
html.dark-mode .modal-author {
  color: #b4afaf;
}
.modal-text {
  margin-bottom: 14px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #111;
}
html.dark-mode .modal-text {
  color: #fff;
}
.modal-link-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.modal-link-amazon {
  width: 62px;
  height: 19px;
  mix-blend-mode: luminosity;
  filter: grayscale(100%);
}
html.dark-mode .modal-link-amazon {
  filter: brightness(0) invert(1);
}
.modal-link-applebook {
  align-items: center;
  filter: grayscale(100%);
  width: 33px;
  height: 32px;
  mix-blend-mode: luminosity;
}
.modal-link-amazon:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0.35));
}
html.dark-mode .modal-link-amazon:hover {
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}
.modal-link-applebook:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0.35));
}
html.dark-mode .modal-link-applebook:hover {
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}
.modal-btn {
  padding: 14px auto;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  width: 100%;
  height: 46px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;
  display: block;
  margin: 0 auto;
  transition: all 0.2s ease;
}
html.dark-mode .modal-btn {
  color: #fff;
  background-color: #202024;
}
.modal-btn:hover {
  background-color: #4f2ee8;
  color: #fff;
}
html.dark-mode .modal-btn:hover {
  background-color: #4f2ee8;
}
.modal-congrat-text {
  margin-top: 14px;
  margin-bottom: 34px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(17, 17, 17, 0.5);
}
html.dark-mode .modal-congrat-text {
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 579px;
    height: 501px;
  }
  .modal-icon {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 24px;
    right: 24px;
  }
  .modal-content {
    display: flex;
    flex-direction: row;
  }
  .modal-img {
    width: 192px;
    height: 281px;
    margin-bottom: 40px;
  }
  .modal-content-text {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
  }
  .modal-title {
    font-size: 24px;
    line-height: 1.16667;
  }
  .modal-author {
    font-size: 14px;
    line-height: 1.28571;
  }
  .modal-btn {
    padding: 20px auto;
    width: 499px;
    height: 64px;
    font-size: 18px;
    line-height: 1.33333;
  }
  .modal-congrat-text {
    font-size: 12px;
    line-height: 1.16667;
    margin-top: 8px;
    margin-bottom: 40px;
    margin-right: 96px;
    margin-left: 96px;
  }
}
