.swiper {
  width: 100%;
  height: 100%;
}

.support_line_container {
  align-items: center;
  display: flex;
}
.for__support {
  margin-top: 40px;
}

.supporters {
  box-sizing: border-box;
  height: 460px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  border-radius: 16px;
  flex-direction: column;
  padding: 24px 40px 20px;
  display: flex;
}

.supporters__title {
  gap: 12px;
  margin-bottom: 40px;
  margin-right: auto;
  display: flex;
}

.supporters__heading {
  letter-spacing: -0.04em;
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.supporters__icon {
  fill: #fff;
  width: 20px;
  height: 32px;
}

.supporters__btn {
  cursor: pointer;
  width: 32px;
  min-height: 32px;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  transition: transform 0.5s ease-in-out;
  display: flex;
  transform: rotateX(0);
}

.supporters__btn span {
  visibility: hidden;
  width: 0;
  height: 0;
}
.supporters__btn-icon {
  fill: #4f2ee8;
}

.supporters__number {
  letter-spacing: -0.04em;
  color: #fff;
  margin-right: 16px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
}

.supporters__img {
  filter: brightness(0) invert(1);
}

.support_link {
  display: inline-block;
}

.support_line {
  align-items: center;
  display: flex;
}

.support_line span {
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .supporters{
    width: 335px;
  }
}

@media screen and (min-width: 1440px) {
}
